.avocado {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateY(-50%) translateX(-50%);
  width: 500px;
  height: 500px;

  .top {
    width: 30%;
    height: 30%;
    border-radius: 50% 50% / 60% 60% 30% 30%;
    position: relative;
    top: 33%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #95e79a;
  }

  .bottom {
    width: 40%;
    height: 45%;
    border-radius: 40% 40% / 50% 50% 50% 50%;
    position: relative;
    top: 28%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: #95e79a;
  }
}