.avocado {

  .eyes {
    @include eyes;

    .eye {
      @include eye;
      width: 20%;
      height: 15%;

      .ball {
        @include ball;
        top: 50%;
        left: 50%;
        transform: translate(50%, 50%);
      }
    }
  }
}