.mouth {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: 15%;
  height: 8%;
  background-color: #e76177;
  border: 2px solid #d32f4a;
  box-shadow: inset 0 0 10px #d32f4a;
  animation: mouth 3s infinite;
}