.window {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  background-color: #684837;
  border-radius: 0 0 0 5%;

  .pane {
    position: absolute;
    top: 0;
    right: 0;
    width: 94%;
    height: 90%;
    background: radial-gradient(ellipse at 90% -10px, rgb(245, 219, 136) 0%, rgb(152, 255, 255) 95%);
  }
}