@keyframes mouth {
  from {
    border-radius: 0 0 300px 300px;
  }

  50% {
    border-radius: 300px 300px 300px 300px;
  }

  to {
    border-radius: 0 0 300px 300px;    
  }
}

@keyframes move {
  from {
    transform: rotateZ(0);
  }

  20% {
    transform: rotateZ(20deg);
  }

  40% {
    transform: rotateZ(-20deg);
  }

  60% {
    transform: rotateZ(0);
  }

  75% {
    transform: translateY(-10%) scale(1.1);
  }

  to {
    transform: translateY(0) scale(1);
  }
}